<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Front - Multipurpose Responsive Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/../favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="/../assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="/../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"
    />
    <link rel="stylesheet" href="/../assets/vendor/aos/dist/aos.css" />

    <!-- CSS Front Template -->
    <!-- <link rel="stylesheet" href="/../assets/vendor/bootstrap/dist/css/boostrap.min.css"> -->
    <link rel="stylesheet" href="/../assets/css/theme.min.css" />
    <link rel="stylesheet" href="/../assets/css/style.css">
  </head>

  <body>
    <%- include('partials/_spinner.ejs') %>
    <%- include("partials/_aggiungi_voto.ejs") %>
    <%- include("partials/_aggiungi_lezione.ejs") %>

    <!-- ========== HEADER ========== -->
    <header
      id="header"
      class="navbar navbar-expand-lg navbar-floating navbar-end navbar-light"
      data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'
    >
      <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap">
          <!-- Default Logo -->
          <a class="navbar-brand" href="/" aria-label="Front">
            <img
              class="navbar-brand-logo"
              src="/../assets/svg/logos/logo.svg"
              alt="Logo"
            />
          </a>
          <!-- End Default Logo -->

          <!-- Toggler -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-default">
              <i class="bi-list"></i>
            </span>
            <span class="navbar-toggler-toggled">
              <i class="bi-x"></i>
            </span>
          </button>
          <!-- End Toggler -->

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-absolute-top-scroller">
              <ul class="navbar-nav">

                <!-- Button -->
                <li class="nav-item">
                  <a  class="btn btn-primary btn-transition"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#aggiungiVotoForm">
                      Aggiungi Voto
                  </a>
                </li>
                <li class="nav-item">
                  <a  class="btn btn-primary btn-transition"
                      href="#"
                      data-bs-toggle="modal"
                      data-bs-target="#aggiungiLezioneForm">
                      Aggiungi Lezione
                  </a>
                </li>
                <!-- End Button -->
              </ul>
            </div>
          </div>
          <!-- End Collapse -->
        </nav>
      </div>
    </header>

    <div id="dark-mode-container" class="form-switch text-center my-5">
        <input type="checkbox" id="mode" class="form-check-input">
      </div>

    <!-- ========== END HEADER ========== -->
    
    <!-- ========== MAIN ========== -->
    <!-- Table -->
    <!-- Table -->
    <br>
    <br>
    <br>
    <div class="table-responsive">
        <table class="table table-nowrap table-lg table-vertical-border-striped table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <% for(var i = 0; i < subjects.length; i++){ %>
                  <th scope="col"><a class="btn" href="medie/<%= subjects[i]._id %>"><%= subjects[i].name %></a></th>
                <% } %>
              </tr>
            </thead>
      
            <tbody>
              <% for(var i = 0; i < students.length; i++){ %>
                  <tr>
                  <th scope="row"><a class="btn" href="medie/<%= students[i]._id %>"><%= students[i].name %></a></th>
                  <% for(var j = 0; j < subjects.length; j++) { %>
                    <% if (averageGrades[i][j] >= 6) { %>
                        <td> <center><a class="btn btn-success" href="medie/<%= students[i] %>/<%= subjects[j]._id %>"><%= averageGrades[i][j] %></a></center> </td>
                    <% } if(averageGrades[i][j] < 6) { %>
                        <td><center><a class="btn btn-danger" href="medie/<%= students[i] %>/<%= subjects[j]._id %>"><%= averageGrades[i][j] %></a></center></td>
                        <% } %>
                  <% } %>
                  </tr>
              <% } %>
            </tbody>
          </table>
    </div>
    <!-- End Table -->
    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
      <div class="container pb-1 pb-lg-5">
        <div class="row content-space-t-2">
          <div class="col-lg-3 mb-7 mb-lg-0">
            <!-- Logo -->
            <div class="mb-5">
              <a class="navbar-brand" href="/../index.html" aria-label="Space">
                <img
                  class="navbar-brand-logo"
                  src="/../assets/svg/logos/logo-white.svg"
                  alt="Image Description"
                />
              </a>
            </div>
            <!-- End Logo -->

            <!-- List -->
            <ul class="list-unstyled list-py-1">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-geo-alt-fill me-1"></i> 153 Williamson Plaza,
                  Maggieberg</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="tel:1-062-109-9222"
                  ><i class="bi-telephone-inbound-fill me-1"></i> +1 (062)
                  109-9222</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Company</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">About</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Careers
                  <span class="badge bg-warning text-dark rounded-pill ms-1"
                    >We're hiring</span
                  ></a
                >
              </li>
              <li><a class="link-sm link-light" href="#">Blog</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Customers <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Hire us</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Features</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li>
                <a class="link-sm link-light" href="#"
                  >Press <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Release Notes</a></li>
              <li><a class="link-sm link-light" href="#">Integrations</a></li>
              <li><a class="link-sm link-light" href="#">Pricing</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Documentation</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">Support</a></li>
              <li><a class="link-sm link-light" href="#">Docs</a></li>
              <li><a class="link-sm link-light" href="#">Status</a></li>
              <li><a class="link-sm link-light" href="#">API Reference</a></li>
              <li>
                <a class="link-sm link-light" href="#">Tech Requirements</a>
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Resources</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-5">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-question-circle-fill me-1"></i> Help</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-person-circle me-1"></i> Your Account</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="border-top border-white-10 my-7"></div>

        <div class="row mb-7">
          <div class="col-sm mb-3 mb-sm-0">
            <!-- Socials -->
            <ul class="list-inline list-separator list-separator-light mb-0">
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Privacy &amp; Policy</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Site Map</a>
              </li>
            </ul>
            <!-- End Socials -->
          </div>

          <div class="col-sm-auto">
            <!-- Socials -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-facebook"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-google"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-twitter"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-github"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <!-- Button Group -->
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-soft-light btn-xs dropdown-toggle"
                    id="footerSelectLanguage"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-dropdown-animation
                  >
                    <span class="d-flex align-items-center">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </span>
                  </button>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="footerSelectLanguage"
                  >
                    <a
                      class="dropdown-item d-flex align-items-center active"
                      href="#"
                    >
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/de.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Deutsch</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/es.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Español</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/cn.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>中文 (繁體)</span>
                    </a>
                  </div>
                </div>
                <!-- End Button Group -->
              </li>
            </ul>
            <!-- End Socials -->
          </div>
        </div>

        <!-- Copyright -->
        <div class="w-md-85 text-lg-center mx-lg-auto">
          <p class="text-white-50 small">
            &copy; Front. 2021 Htmlstream. All rights reserved.
          </p>
          <p class="text-white-50 small">
            When you visit or interact with our sites, services or tools, we or
            our authorised service providers may use cookies for storing
            information to help provide you with a better, faster and safer
            experience and for marketing purposes.
          </p>
        </div>
        <!-- End Copyright -->
      </div>
    </footer>

    <!-- ========== END FOOTER ========== -->



    

    <!-- Go To -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'
    >
      <i class="bi-chevron-up"></i>
    </a>
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Global Compulsory  -->
    <script src="/../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/../assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="/../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="/../assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="/../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="/../assets/vendor/aos/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- JS Front -->
    <script src="/../assets/js/theme.min.js"></script>
    <script src="/../assets/js/main.js"></script>

    <!-- JS Plugins Init. -->
    <script>
      (function () {
        // INITIALIZATION OF HEADER
        // =======================================================
        new HSHeader("#header").init();

        // INITIALIZATION OF MEGA MENU
        // =======================================================
        new HSMegaMenu(".js-mega-menu", {
          desktop: {
            position: "left",
          },
        });

        // INITIALIZATION OF SHOW ANIMATIONS
        // =======================================================
        new HSShowAnimation(".js-animation-link");

        // INITIALIZATION OF BOOTSTRAP VALIDATION
        // =======================================================
        HSBsValidation.init(".js-validate", {
          onSubmit: (data) => {
            data.event.preventDefault();
            alert("Submited");
          },
        });

        // INITIALIZATION OF BOOTSTRAP DROPDOWN
        // =======================================================
        HSBsDropdown.init();

        // INITIALIZATION OF GO TO
        // =======================================================
        new HSGoTo(".js-go-to");

        // INITIALIZATION OF AOS
        // =======================================================
        AOS.init({
          duration: 650,
          once: true,
        });
      })();
    </script>
  </body>
</html>
