<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Title -->
    <title>Front - Multipurpose Responsive Template</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/../favicon.ico" />

    <!-- Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Implementing Plugins -->
    <link
      rel="stylesheet"
      href="/../assets/vendor/bootstrap-icons/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="/../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.css"
    />
    <link rel="stylesheet" href="/../assets/vendor/aos/dist/aos.css" />

    <!-- CSS Front Template -->
    <link rel="stylesheet" href="/../assets/css/theme.min.css" />
    <link
      rel="stylesheet"
      href="/../assets/vendor/chart.js/dist/Chart.min.css"
    />
    <link rel="stylesheet" href="/../assets/css/style.css">
  </head>

  <body>
    <%- include('partials/_spinner.ejs') %>
    <!-- ========== HEADER ========== -->
    <header
      id="header"
      class="navbar navbar-expand-lg navbar-floating navbar-end navbar-light"
      data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'
    >
      <div class="container">
        <nav class="js-mega-menu navbar-nav-wrap">
          <!-- Default Logo -->
          <a class="navbar-brand" href="/" aria-label="Front">
            <img
              class="navbar-brand-logo"
              src="/../assets/svg/logos/logo.svg"
              alt="Logo"
            />
          </a>
          <!-- End Default Logo -->

          <!-- Collapse -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-absolute-top-scroller">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="btn btn-soft-primary btn-transition" href="\logout"
                    >Logout</a
                  >
                </li>
                <!-- Button -->
                <li class="nav-item">
                  <a class="btn btn-soft-primary btn-transition" href="/login"
                    >Login</a
                  >
                </li>
                <!-- End Button -->
              </ul>
            </div>
          </div>
          <!-- End Collapse -->
        </nav>
      </div>
    </header>

    <!-- ========== END HEADER ========== -->
    <br />
    <br />
    <br />
    <br />
    <br />

    <!-- ========== MAIN ========== -->
    <!-- Description -->
    <div class="container content-space-1">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
          <!-- Navbar -->
          <div class="navbar-expand-md">
            <!-- Navbar Toggle -->
            <div class="d-grid">
              <button
                type="button"
                class="navbar-toggler btn btn-white mb-3"
                data-bs-toggle="collapse"
                data-bs-target="#navbarVerticalNavMenuEg2"
                aria-label="Toggle navigation"
                aria-expanded="false"
                aria-controls="navbarVerticalNavMenuEg2"
              >
                <span class="d-flex justify-content-between align-items-center">
                  <span class="text-dark mb-0">Menu</span>

                  <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                  </span>

                  <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                  </span>
                </span>
              </button>
            </div>
            <!-- End Navbar Toggle -->

            <!-- Navbar Collapse -->
            <div id="navbarVerticalNavMenuEg2" class="collapse navbar-collapse">
              <ul
                id="navbarSettingsEg2"
                class="js-sticky-block js-scrollspy nav nav-tabs nav-link-gray nav-vertical"
                data-hs-sticky-block-options='{
                 "parentSelector": "#navbarVerticalNavMenuEg2",
                 "targetSelector": "#header",
                 "breakpoint": "md",
                 "startPoint": "#navbarVerticalNavMenuEg2",
                 "endPoint": "#stickyBlockEndPointEg2",
                 "stickyOffsetTop": 20
               }'
              >
                <% for( let i = 0; i < subjects.length; i++ ) { %>
                <li class="nav-item">
                  <a class="nav-link active" href="#<%= subjects[i].name %>"
                    ><%= i + 1 %>. <%= subjects[i].name %></a
                  >
                </li>
                <% } %>
              </ul>
            </div>
            <!-- End Navbar Collapse -->
          </div>
          <!-- End Navbar -->
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9">
          <div class="mb-7">
            <div class="text-center">
                <h2 class="display-6 mb-0">
                  I voti di <span class="text-primary text-highlight-warning"><%= student.name %> </span>
                </h2>
              </div>
          </div>
          <div id="situazione-div" class="mb-7">
            <h4>1. Situazione</h4>
            <canvas id="situazione-chart" width="400" height="200"></canvas>
          </div>

          <% for( let i = 0; i < subjects.length; i++ ) { %>
          <div id="<%= subjects[i].name %>" class="mb-7">
            <h4><%= i + 1 %>. <%= subjects[i].name %></h4>
            <canvas id="<%= subjects[i].name %>-chart" width="400" height="200"></canvas>
          </div>
          <% } %>

          <!-- End Sticky End Point -->
          <div id="stickyBlockEndPointEg2"></div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Description -->
    <!-- ========== FOOTER ========== -->
    <footer class="bg-dark">
      <div class="container pb-1 pb-lg-5">
        <div class="row content-space-t-2">
          <div class="col-lg-3 mb-7 mb-lg-0">
            <!-- Logo -->
            <div class="mb-5">
              <a class="navbar-brand" href="/../index.html" aria-label="Space">
                <img
                  class="navbar-brand-logo"
                  src="/../assets/svg/logos/logo-white.svg"
                  alt="Image Description"
                />
              </a>
            </div>
            <!-- End Logo -->

            <!-- List -->
            <ul class="list-unstyled list-py-1">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-geo-alt-fill me-1"></i> 153 Williamson Plaza,
                  Maggieberg</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="tel:1-062-109-9222"
                  ><i class="bi-telephone-inbound-fill me-1"></i> +1 (062)
                  109-9222</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Company</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">About</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Careers
                  <span class="badge bg-warning text-dark rounded-pill ms-1"
                    >We're hiring</span
                  ></a
                >
              </li>
              <li><a class="link-sm link-light" href="#">Blog</a></li>
              <li>
                <a class="link-sm link-light" href="#"
                  >Customers <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Hire us</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm mb-7 mb-sm-0">
            <h5 class="text-white mb-3">Features</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li>
                <a class="link-sm link-light" href="#"
                  >Press <i class="bi-box-arrow-up-right small ms-1"></i
                ></a>
              </li>
              <li><a class="link-sm link-light" href="#">Release Notes</a></li>
              <li><a class="link-sm link-light" href="#">Integrations</a></li>
              <li><a class="link-sm link-light" href="#">Pricing</a></li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Documentation</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-0">
              <li><a class="link-sm link-light" href="#">Support</a></li>
              <li><a class="link-sm link-light" href="#">Docs</a></li>
              <li><a class="link-sm link-light" href="#">Status</a></li>
              <li><a class="link-sm link-light" href="#">API Reference</a></li>
              <li>
                <a class="link-sm link-light" href="#">Tech Requirements</a>
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->

          <div class="col-sm">
            <h5 class="text-white mb-3">Resources</h5>

            <!-- List -->
            <ul class="list-unstyled list-py-1 mb-5">
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-question-circle-fill me-1"></i> Help</a
                >
              </li>
              <li>
                <a class="link-sm link-light" href="#"
                  ><i class="bi-person-circle me-1"></i> Your Account</a
                >
              </li>
            </ul>
            <!-- End List -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->

        <div class="border-top border-white-10 my-7"></div>

        <div class="row mb-7">
          <div class="col-sm mb-3 mb-sm-0">
            <!-- Socials -->
            <ul class="list-inline list-separator list-separator-light mb-0">
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Privacy &amp; Policy</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Terms</a>
              </li>
              <li class="list-inline-item">
                <a class="link-sm link-light" href="#">Site Map</a>
              </li>
            </ul>
            <!-- End Socials -->
          </div>

          <div class="col-sm-auto">
            <!-- Socials -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-facebook"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-google"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-twitter"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <a class="btn btn-soft-light btn-xs btn-icon" href="#">
                  <i class="bi-github"></i>
                </a>
              </li>

              <li class="list-inline-item">
                <!-- Button Group -->
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-soft-light btn-xs dropdown-toggle"
                    id="footerSelectLanguage"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    data-bs-dropdown-animation
                  >
                    <span class="d-flex align-items-center">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </span>
                  </button>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="footerSelectLanguage"
                  >
                    <a
                      class="dropdown-item d-flex align-items-center active"
                      href="#"
                    >
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/us.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>English (US)</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/de.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Deutsch</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/es.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>Español</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                      <img
                        class="avatar avatar-xss avatar-circle me-2"
                        src="/../assets/vendor/flag-icon-css/flags/1x1/cn.svg"
                        alt="Image description"
                        width="16"
                      />
                      <span>中文 (繁體)</span>
                    </a>
                  </div>
                </div>
                <!-- End Button Group -->
              </li>
            </ul>
            <!-- End Socials -->
          </div>
        </div>

        <!-- Copyright -->
        <div class="w-md-85 text-lg-center mx-lg-auto">
          <p class="text-white-50 small">
            &copy; Front. 2021 Htmlstream. All rights reserved.
          </p>
          <p class="text-white-50 small">
            When you visit or interact with our sites, services or tools, we or
            our authorised service providers may use cookies for storing
            information to help provide you with a better, faster and safer
            experience and for marketing purposes.
          </p>
        </div>
        <!-- End Copyright -->
      </div>
    </footer>

    <!-- ========== END FOOTER ========== -->

    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Aggiungi voto form -->

    <%# include("partials/_aggiungi_voto.ejs") %>

    <!-- Go To -->
    <a
      class="js-go-to go-to position-fixed"
      href="javascript:;"
      style="visibility: hidden"
      data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": "2rem"
         },
         "show": {
           "bottom": "2rem"
         },
         "hide": {
           "bottom": "-2rem"
         }
       }
     }'
    >
      <i class="bi-chevron-up"></i>
    </a>
    <!-- ========== END SECONDARY CONTENTS ========== -->

    <!-- JS Global Compulsory  -->
    <script src="/../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/../assets/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="/../assets/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="/../assets/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="/../assets/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="/../assets/vendor/aos/dist/aos.js"></script>
    <script src="/../assets/vendor/hs-sticky-block/dist/hs-sticky-block.min.js"></script>
    <script src="/../assets/vendor/hs-scrollspy/dist/hs-scrollspy.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!-- JS Front -->
    <script src="/../assets/js/theme.min.js"></script>
    <script src="/../assets/js/main.js"></script>

    <!-- JS Implementing Plugins -->

    <script>
        var labels = [];
        var data = [];
        '<% for( let j = 0; j < subjects.length; j++ ) { %>'
            labels.push('<%= subjects[j].name %>');
            data.push('<%= student.averageGrades[j] %>');
        '<% } %>'

  
        var ctx = document.getElementById("situazione-chart").getContext('2d');

        var radarChart = new Chart(ctx, {
          type: 'radar',
          data: {
              labels: labels,
              datasets: [{
                  label: 'Situazione',
                  data: data,
                  borderColor: 'rgba(0, 255, 179, 0.702)',
                  backgroundColor: 'rgba(0, 255, 219, 0.302)',
                  pointBorderColor: 'rgba(0, 255, 179, 0.702)',
                  pointBackgroundColor: 'rgba(0, 255, 179, 0.202)',
                  pointHoverBackgroundColor: 'rgba(0, 255, 179, 0.202)',
                  pointHoverBorderColor: 'rgba(0, 255, 179, 0.702)',
                  pointBorderWidth: 4,
                  pointHoverRadius: 4,
                  pointHoverBorderWidth: 1,
                  fill: true
              }],
          },
          options: {
            responsive: true,
            scale: {
              beginAtZero: true,
              min: 0,
              max: 10
            }
          }
        });
      </script>
    <script>

        var width, height, gradient1, gradient2;
        function getGradient1(ctx, chartArea) {
            const chartWidth = chartArea.right - chartArea.left;
            const chartHeight = chartArea.bottom - chartArea.top;
            if (!gradient1 || width !== chartWidth || height !== chartHeight) {
                // Create the gradient because this is either the first render
                // or the size of the chart has changed
                width = chartWidth;
                height = chartHeight;
                gradient1 = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
                gradient1.addColorStop(0, "#f5424e");
                gradient1.addColorStop(0.5, "#f5424e");
                gradient1.addColorStop(1,"#42f551");
            }

            return gradient1;
        }
        function getGradient2(ctx, chartArea) {
            const chartWidth = chartArea.right - chartArea.left;
            const chartHeight = chartArea.bottom - chartArea.top;
            if (!gradient2 || width !== chartWidth || height !== chartHeight) {
                // Create the gradient because this is either the first render
                // or the size of the chart has changed
                width = chartWidth;
                height = chartHeight;
                gradient2 = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
                gradient2.addColorStop(0, "#f5424e44");
                gradient2.addColorStop(0.5, "#e6ae4044");
                gradient2.addColorStop(1,"#42f55144");
            }
    
            return gradient2;
        }
        '<% for( let i = 0; i < subjects.length; i++ ) { %>'

            var ctx = document.getElementById("<%= subjects[i].name %>-chart").getContext('2d');
              var data = []
              var labels = []
              var counter = 0
              var colors = []
              var counter_gradient = 1
  
              '<% for( let j = 0; j < student.grades.length; j++ ) { %>'
                '  <% if( student.grades[j].subject == subjects[i]._id) { %>'
                    data.push('<%= student.grades[j].grade %>')
                    labels.push(moment(Date.parse('<%= student.grades[j].date %>')).format("MMMM Do"))
                  '<% } %>'
              '<% } %>'

            var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Andamento',
                    data: data,
                    borderColor: function(context) {
                        const chart = context.chart;
                        const {ctx, chartArea} = chart;
                
                        if (!chartArea) {
                          // This case happens on initial chart load
                          return;
                        }
                        return getGradient1(ctx, chartArea);
                      },
                      backgroundColor: function(context) {
                        const chart = context.chart;
                        const {ctx, chartArea} = chart;
                
                        if (!chartArea) {
                          // This case happens on initial chart load
                          return;
                        }
                        return getGradient2(ctx, chartArea);
                      },
                    fill: true,
                    tensions: 0.1,
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 10,
                    },

                    
                }
            }
        });
        '<% } %>'
        
        </script>

    <!-- JS Plugins Init. -->
    <script>
      (function () {
        // INITIALIZATION OF STICKY BLOCKS
        // =======================================================
        Promise.all(
          Array.from(document.images)
            .filter((img) => !img.complete)
            .map(
              (img) =>
                new Promise((resolve) => {
                  img.onload = img.onerror = resolve;
                })
            )
        ).then(() => {
          new HSStickyBlock(".js-sticky-block", {
            targetSelector: document
              .getElementById("header")
              .classList.contains("navbar-fixed")
              ? "#header"
              : null,
          });
        });

        // INITIALIZATION OF SCROLLSPY
        // =======================================================
        new bootstrap.ScrollSpy(document.body, {
          target: "#navbarSettingsEg2",
          offset: 10,
        });

        new HSScrollspy("#navbarVerticalNavMenuEg2", {
          breakpoint: "lg",
        });
      })();
    </script>
  </body>
</html>